#container {
  margin-top: 50px;
  text-align: center;
}

.navbar-brand {
  padding-top: 15px;
}

@media screen and (max-width: 600px){
    #container {
      margin-top: 80px;
      zoom: .8;
      margin-left: -30px;
    }
    .navbar {
      height: 75px;
    }
    .navbar-brand {
      font-size: 18px;
    }
}
